!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    %title Brent Hargrave
    %meta{name: "description", content: "Brent Hargrave is..."}
    -# TODO: take a screenie of the site once complete, make it a thumbnail
    -# %meta{property:"og:image", content: "http://brent.is/images/thumbnail.png"}
    -# %link{rel: "shortcut icon", href: "http://brent.is/images/favicon.png", type: "image/png"}
    -# %link{rel: "apple-touch-icon", href:"http://brent.is/images/apple-touch-icon.png"}
    -# TODO: setup a feedburner for your tumblr?
    -# %link{rel: "alternate", type: "application/rss+xml", title: "Brent Hargrave's RSS", href: "http://feeds.feedburner.com/brentis"}
    %link{rel: "stylesheet", href: "/css/style.css"}
  %body
    brent is
    %ul#nav
      %li
        %a{href: 'https://github.com/jamescallmebrent', alt: "Github"} coding
      %li
        %a{href: 'http://brenthargrave.info', alt: "Tumblr"} noting
      %li
        %a{href: 'http://www.linkedin.com/in/jamescallmebrent', alt: "LinkedIn"} earning
      -#%li
        %a{href: 'https://kindle.amazon.com/profile/Brent-Hargrave/18265'} reading
      -#%li
        %a{href: '?'} writing
      %li
        %a{href: 'https://twitter.com/#!/brenthargrave', alt: 'Twitter'} blabbing
      %li
        %a{href: 'http://pinboard.in/u:jamescallmebrent', alt: 'Pinboard'} hoarding
      %li
        %a{href: 'http://last.fm/user/jbah', alt: 'Last.fm'} listening
      %li
        %a{href: 'mailto:brent.hargrave@gmail.com', alt: 'Email'} reachable