!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Brent Hargrave
  %body
    brent hargrave is 
    %ul
      %li
        %a{href: 'https://github.com/jamescallmebrent', alt: "Github"} coding
      %li
        %a{href: 'http://brenthargrave.info', alt: "Tumblr"} noting
      %li
        %a{href: 'http://www.linkedin.com/in/jamescallmebrent', alt: "LinkedIn"} earning
      -#%li
        %a{href: 'https://kindle.amazon.com/profile/Brent-Hargrave/18265'} reading
      -#%li
        %a{href: '?'} writing
      %li
        %a{href: 'https://twitter.com/#!/brenthargrave', alt: 'Twitter'} blabbing
      %li
        %a{href: 'http://pinboard.in/u:jamescallmebrent', alt: 'Pinboard'} hoarding
      %li
        %a{href: 'http://http://www.last.fm/user/jbah', alt: 'Last.fm'} listening
      %li
        %a{href: 'mailto:brent.hargrave@gmail.com', alt: 'Email'} reachable