- other_activities = \
  { building: 'https://github.com/brenthargrave', \
    spitballing: 'https://twitter.com/brenthargrave', \
    hustling: 'https://www.linkedin.com/in/brenthargrave', \
    #tumbling:  'http://tumbling.brent.is', \
    #listening: 'http://last.fm/user/jbah', \
    }.map { |title, href| link_to(title.to_s, href) }.to_sentence

footer#post-list-footer
  - email = "brent@brent.is"
  markdown:
    I build iOS apps with the [Singular Collective](http://singularcollective.co).
    My recent works include
    [NYSC](https://itunes.apple.com/us/app/sportsclubs-nysc-bsc-psc-wsc/id1120257245),
    [Putty](https://putty.ink) and
    [Hipbone](https://itunes.apple.com/us/app/hipbone/id994965999).
    You'll find me writing here, elsewhere #{other_activities}.

    Write me at #{mail_to(email, email)}

footer#footer
  p.small
    | Made with &#9825; in Brooklyn.

