- other_activities = \
  { building: 'https://github.com/jamescallmebrent', \
    hustling: 'https://www.linkedin.com/in/brenthargrave', \
    spitballing: 'https://twitter.com/brenthargrave', \
    tumbling:  'http://tumbling.brent.is', \
    listening: 'https://last.fm/user/jbah', \
    }.map { |title, href| link_to(title.to_s, href) }.to_sentence

footer#post-list-footer
  - email = "brent@brent.is"
  markdown:
    I build iOS apps. My recent works include [Putty](https://putty.ink) and
    [Hipbone](https://hipboneapp.com).
    You'll find me writing here, and elsewhere #{other_activities}.

    I'm reachable at #{mail_to(email, email)}

footer#footer
  p.small
    | Made with &#9825; in Brooklyn.

